{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block content %}
<div class="col d-flex justify-content-center">
  <div class="card" style="width: 40rem;">
    <div class="card-header">
      Регистрация пользователя
    </div>
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        
        {% bootstrap_field form.username %}
        
        {% bootstrap_field form.email %}
        <small class="form-text text-muted">
          Пример: user@example.com
        </small>
        
        {% bootstrap_field form.password1 %}
        {% bootstrap_field form.password2 %}
        
        {% bootstrap_button button_type="submit" content="Создать" %}
      </form>
      
      <div class="mt-3 text-center">
        <p>Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}